version: '3.8'
services:
  backend:
    build: ./runner
    ports:
      - "4000:4000"
    environment:
      - ORIGIN_URL=http://localhost:8080
      - service_automation_api=https://alpha-blossom-automatization-api.blossomalpha.com/graphql/automation
      - header_automation_apikey=nn8ky6s5Mb5jlYopgNbyc5aiX3RsUWob6zGcVsvI
      - PORT=4000
    container_name: backend-manager
    restart: unless-stopped

  frontend:
    build: ./frontend
    ports:
      - "8080:8080"
    container_name: frontend-manager
    restart: unless-stopped
    depends_on:
      - backend

networks:
  admin:
    driver: bridge